/*@import url("./node_modules/frow/css/frow.css");*/


html {
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height:100%;
}

/* layout */
.main {
    height: 100%;
}

.left {
    background-color: grey;
    height: 100vh;
    background: url('splash_image.jpg') no-repeat center center;
    background-size: cover;
}

.right {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
}

.logo {
    height: 200px;
    border-left: 7px solid #fff;
    border-top: 7px solid #fff;
    margin: 0px auto 50px;
    outline: 3px solid #fff;
    outline-offset: 12px;
    position: relative;
    text-align: right;
    width: 200px;
}

.name {
    color: #fff;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.info {
    color: #fff;
    font-size: 15px;
    position: relative;
    text-align: center;
}

@media (min-width: 414px) {

    .logo {
        height: 350px;
        width: 350px;
        border-left-width: 10px;
        border-top-width: 10px;
        outline-width: 5px;
    }

    .info {
        font-size: 20px;
    }
}
@media (min-width: 992px) {

    .right {
        background-color: black;
        height: 100vh;
        padding: 25% 0;
        position: relative;
        top: 0;
    }

    .logo {
        border-left: 10px solid #fff;
        border-top: 10px solid #fff;
        height: 350px;
        width: 350px;
    }

    .name {
        margin: 0 25px 25px 0;
        font-size: 50px;
    }

}


/* END layout */


/*body {
    background-color: #000;
}*/
.background-image {
    background: #99b4cc url("splash_image.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
}

.information-container {
    font-size: 30px;
    font-weight: bold;
    margin: 50% auto;
    text-align: center;
    color: #fff;
}

.information-container {}


