
html {
  box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height:100%;
}

/* Nav */

header {
    position: fixed;
    height: 20px;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.main-nav {
  color: #fbf1e3;
  text-align: right;
  background-color: rgba(0,0,0, 0.6);
}

.social-icons a {
  padding: 0 7px;
}

.social-icons {
  padding: 10px;
}

/* Main */

.splash-image img {
    overflow: hidden;
    position: fixed;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    -ms-transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    transform: none;
    width: 100%;
}

.right-info {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
}

.logo {
    height: 200px;
    border-left: 7px solid #fff;
    border-top: 7px solid #fff;
    margin: 0px auto 50px;
    outline: 3px solid #fff;
    outline-offset: 12px;
    position: relative;
    text-align: right;
    width: 200px;
}

.name {
    color: #fff;
    font-size: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.info {
    color: #fff;
    font-size: 15px;
    position: relative;
    text-align: center;
}

@media (min-width: 414px) {

    .logo {
        height: 350px;
        width: 350px;
        border-left-width: 10px;
        border-top-width: 10px;
        outline-width: 5px;
    }

    .info {
        font-size: 20px;
    }
}


/* END layout */



